#all{
background-attachment: fixed;
background-color: gray;
text-align: center;
height: 100vh;
width: 100vw;
}

#city{
height: 50px;
width: 25%;
border: none;
outline: none;
border-radius: 15px;
box-shadow: 5px 5px 5px 5px black;
text-align: center;
font-size: large;
font-weight: bold;
font-style: italic;
}

#form{
margin-top: 15vh;
}

@media (max-height: 1370px) {
  #all {
    height: 120vh;
    background-color: gray;

  }
  #city{
    width: 50%;
  }
  #form{
    margin-top: 0vh;
  }
}